/*
enabled-highlight, and small things: #c37cc6
clickable, and larger things: #e2a7e5
slightly more faded: #fac9fc
text: #666
*/

a {
    color: #c37cc6;
}

figure {
    margin: 0;
}

body, button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: #666;
}

button {
    background-color: #e2a7e5;
    border-radius: 5px;
    border:none;
    color: white;   
}

h1 {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 25px;
}