.help-screen {
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

.help-screen--closed {
    display: none;
}

.help-screen--open {
    display: block;
}

.help-screen__close {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 50px;
    line-height: 27px;
    cursor: pointer;
}

.help-screen__tantrum {
    float:left;
    height: 200px;
    margin: 0 1em 1em 0;
}