html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    height: 100%;
    width: 100%;
}

.layout__top {
    height: 10%;
    width: 100%;
}

.layout__map {
    height: 80%;
    width: 100%;
    border-top: solid 0.3vh #e2a7e5;
    box-sizing: border-box;
}

.layout__bottom {
    height: 10%;
    width: 100%;
}

