html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    height: 100%;
    width: 100%;
}

.layout__top {
    height: 0%;
    width: 100%;
}

.layout__map {
    height: 100%;
    width: 100%;
}

.top-bar {}

.location-info-box {
    max-width: 65vw;
}

.location-info-box__heading {
    font-size: 1em;
}