.location-track-icon--disabled path {
    fill: #e2a7e5 !important;
}

.location-track-icon--enabled path {
    fill: #c37cc6 !important;
}

.location-track-icon--loading svg {
    stroke: #c37cc6 !important;
}

.location-track-icon--disabled .location-track-icon__loader,
.location-track-icon--enabled .location-track-icon__loader {
    display: none;
}

.location-track-icon--loading .location-track-icon__toggler {
    display: none;
}