.location-track-icon--tracking-disabled path {
    fill: #e2a7e5 !important;
}

.location-track-icon--tracking-enabled path,
.location-track-icon__loader path {
    fill: #c37cc6 !important;
}

.location-track-icon--tracking-disabled .location-track-icon__loader,
.location-track-icon--tracking-enabled .location-track-icon__loader {
    display: none;
}

.location-track-icon--tracking-loading .location-track-icon__toggler {
    display: none;
}