.top-bar {
    text-align: center;
    position: relative;
}

.top-bar__help, .top-bar__submit, .top-bar__location {
    font-size: 3.5vh;
}

.top-bar__help {
    float: left;
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
}

.top-bar__submit {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar__location {
    height: 100%;
    float: right;
}