.top-bar {
    display: flex;
    align-items: center;
}

.top-bar__help, .top-bar__feedback, .top-bar__location {
    font-size: 3.5vh;
}

.top-bar__help {
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
    cursor: pointer;
}

.top-bar__tagline {
    flex: 1;
    text-align: center;
}

.top-bar__location {
    height: 100%;
    cursor: pointer;
}