<!DOCTYPE html>
<html>
<!-- this code is amazing.... --> 
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/help-screen.css">
    <script src="js/data.js"></script>
    <script src="js/initMap.js"></script>
    <script src="js/markers.js"></script>
    <script src="js/help-screen.js"></script>
    <script src="js/location.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div class="layout">
        <div class="layout__top top-bar">
            <button class="top-bar__help" id="openHelpScreen">
                About
            </button>
            <div class="top-bar__location">
                <input type="checkbox" id="updateLocation" disabled />
                <label for="updateLocation">Show location</label>
            </div>
        </div>
        
        <div id="map" class="layout__map"></div>
    </div>
    <div class="help-screen help-screen--closed" id="helpScreen">
        <div class="help-screen__close" id="closeHelpScreen">
            ✕
        </div>
        <h1>About</h1>
        <p>
            Kids are welcome anywhere in Barcelona. Almost everywhere people will bend over backwards to accomodate the little bastards.
            It's lovely and nice and eveyone smiles, but it's not what we're doing here.
        </p>
        <img src="img/tantrum.png" class="help-screen__tantrum" alt="picture of a kid causing a damned fuss" />
        <p>
            You know the drill. You're walking around town trying to "enjoy a day out with the family", and Little Johnny starts throwing
            a hissy-fit about some bullshit. You couldn't stay in the house, and now it seems that out of the house isn't good
            enough either. What's a parent to do when all they want is a stiff drink and a moment to forget?
        </p>
        <p>
            That's where this website comes in. It's a list of places where it is not merely accpetable to bring kids, <strong>but actually easy</strong>.
            In this list you'll find:
        </p>
        <ul>
            <li>Bars with play areas</li>
            <li>Play areas next to bars</li>
            <li>Restaurants with colouring-in stations</li>
            <li>Restaurants with child-care (seriously)</li>
            <li>Highchairs</li>
            <li>Changing stations</li>
            <li>Anything that stops you destroying their minds with creepy Youtube videos</li>
        </ul>
        <p>
            In short, anywhere you can easily get a drink whilst not holding a child will feature. In this list, kids fit around adults,
            but they also leave you the hell alone.
        </p>
        <img src="img/yes.jpg" class="help-screen__booze" alt="alcohol + kids =? win" />
        <h1>Key</h1>
        <p>Here are what the emojis mean:</p>
        <dl class="help-screen__key">
            <dt>💺</dt>
            <dd><em>Highchairs.</em> The more 💺, the more highchairs are generally available.</dd>
            <dt>🎲</dt>
            <dd>Denotes a <em>playarea</em> close to adult seating.  More 🎲 means increasing ease in this area, up to and including dedicated child-care.</dd>
            <dt>☕</dt>
            <dd>Reasonable <em>coffee</em>.  Most places have coffee.</dd>
            <dt>🥐</dt>
            <dd>Good <em>breakfast-type things</em>, pastries etc.</dd>
            <dt>🍷</dt>
            <dd><em>Alcohol</em>.  The more the merrier.</dd>
            <dt>🍽️</dt>
            <dd><em>Food</em>.  More is better if you want a proper meal.</dd>
            <dt>💩</dt>
            <dd>Ease of <em>changing</em>.  💩 = bench or wall or similar outside, close by.  💩💩 = dedicated changing station.</dd>
        </dl>
    </div>

    <script type="text/html" id="infoWindowTemplate">
        <div class="location-info-box">
            <h1 class="location-info-box__heading"><%= name %></h1>
            <% if (blue) { %><p>Not much is known about this place, but it came recommended.</p> <% } %>
            <% if (!blue) { %>
                <p><strong><%= cost %></strong> - <%= emojis %></p>
                <p><%= summary %></p>
            <% } %>
            <p><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%= mapsQueryParam %>">Open in Google Maps</a></p>
        </div>
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR9P_UyRtqQdYBlx6IZkju8jSgO8iWzk4&callback=initApp">
    </script>
</body>

</html>