<!DOCTYPE html>
<html>
<!-- this code is amazing.... --> 
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .layout {
            height: 100%;
            width: 100%;
        }

        .layout__top {
            height: 10%;
            width: 100%;
        }

        .layout__map {
            height: 90%;
            width: 100%;
        }

        .top-bar {
            
        }

        .location-info-box {
            max-width: 65vw;
        }

        .location-info-box__heading {
            font-size: 1em;
        }
    </style>
</head>

<body>
    <div class="layout">
        <div class="layout__top top-bar">
        </div>
        <div id="map" class="layout__map"></div>
    </div>
    <div id="map"></div>
    <script>
        var DEFAULT_ZOOM = 12
        var DEFAULT_CENTRE = {
            lat: 41.3937221351275,
            lng: 2.158396155313767
        }

        var centre = localStorage.getItem('mapCentreLat') ? {
            lat: Number(localStorage.getItem('mapCentreLat')),
            lng: Number(localStorage.getItem('mapCentreLng'))
        } : DEFAULT_CENTRE

        var zoom = localStorage.getItem('mapZoom') ? Number(localStorage.getItem('mapZoom')) : DEFAULT_ZOOM

        var restaurants = [{
            name: "Restaurant Singular",
            address: "Carrer de Sardenya, 321, 08025 Barcelona",
            lat: 41.403922,
            lng: 2.172328,
            summary: "Great play area. Rather touristy. Average food for the price.",
            emojis: "💺🎲🍷🍷🍽️",
            cost: "$$$",
            blue: false
            // highchairs, alcholo, playarea, food, cafe/restaurant, space, changing mat 💺🎲☕🥐🍷🍽️💩
        }, {
            name: "The Pudding Bar",
            address: "Carrer de Pau Claris, 90, 08010 Barcelona",
            lat: 41.390185,
            lng: 2.170693,
            summary: "Great play area. Good for brunch. Big toadstools.",
            emojis: "🎲☕🍷🥐🍽️",
            cost: "$$",
            blue: false
        }, {
            name: "Pudding Coffee Shop",
            address: "Avinguda Diagonal, 515, 08029 Barcelona",
            lat: 41.391311,
            lng: 2.140709,
            summary: "Great play area. Good for brunch. Harry Potter themed.",
            emojis: "🎲☕🍷🥐🍽️",
            cost: "$$",
            blue: false
        }, {
            name: "Family Room Cafe",
            address: "Carrer de Joan Gamper, 13, 08014 Barcelona",
            lat: 41.387115,
            lng: 2.133945,
            summary: "Great play area. Small but tasty menu.",
            emojis: "🎲☕🍷🥐🍽️💩💩",
            cost: "$$",
            blue: false
        }, {
            name: "+ Calida:d Fleca i degustació",
            address: "Carrer del Rosselló, 360, 08025 Barcelona",
            lat: 41.403563,
            lng: 2.171249,
            summary: "Great play area. Good tea selection. Pastry-style snacks only.",
            emojis: "🎲☕🥐",
            cost: "$$",
            blue: false
        }, {
            name: "El Señorio del Perú",
            address: "Carrer de Còrsega, 607, 08025 Barcelona",
            lat: 41.408517,
            lng: 2.175085,
            summary: "Nice food. Chilled out.  Lunch/dinner.",
            emojis: "💺🍷🍽️",
            cost: "$$",
            blue: true
        }, {
            name: "Doble Zer00 Restaurant",
            address: "Carrer de Jaume Giralt, 53, 08003 Barcelona",
            lat: 41.387935,
            lng: 2.178699,
            summary: "Good sushi. Excellen child-care. Lunch/dinner.",
            emojis: "💺💺🎲🎲🍷🍷🍽️🍽️☕",
            cost: "$$$",
            blue: false
        }, {
            name: "Restaurante Bar Cel Ona",
            address: "Carrer de la Cirera, 4, 08003 Barcelona, Spain",
            lat: 41.385143,
            lng: 2.181925,
            blue: true
        }, ]

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: zoom,
                center: centre,
                styles: [
                    {
                        "featureType": "poi.business",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ]
            });

            var infowindow = new google.maps.InfoWindow()
            
            var infowindowTemplate = _.template(`
                <div class="location-info-box">
                    <h1 class="location-info-box__heading"><%= name %></h1>
                    <% if (blue) { %><p>Not much is known about this place...</p> <% } %>
                    <% if (!blue) { %>
                        <p><strong><%= cost %></strong> - <%= emojis %></p>
                        <p><%= summary %></p>
                    <% } %>
                    <p><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%= mapsQueryParam %>">Open in Google Maps</a></p>
                </div>`)

            restaurants.forEach(function (restaurant) {
                var marker = new google.maps.Marker({
                    position: restaurant,
                    map: map
                })

                if (restaurant.blue) {
                    marker.setIcon("http://maps.google.com/mapfiles/ms/icons/blue-dot.png")
                }

                marker.addListener('click', function () {
                    infowindow.close()
                    restaurant.mapsQueryParam = encodeURIComponent(restaurant.name + " " + restaurant.address)

                    infowindow.setContent(infowindowTemplate(restaurant))
                    infowindow.open(map, marker)
                })
            })

            map.addListener('center_changed', function () {
                var latLng = map.getCenter()
                localStorage.setItem('mapCentreLat', latLng.lat())
                localStorage.setItem('mapCentreLng', latLng.lng())
            })

            map.addListener('zoom_changed', function () {
                localStorage.setItem('mapZoom', map.getZoom())
            })
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR9P_UyRtqQdYBlx6IZkju8jSgO8iWzk4&callback=initMap">
    </script>
</body>

</html>